.content {
    display: flex;
    width: 100vw;
    height: 100vh;
    color: white;
    background: #1F2023;
}

.content_centered {
    justify-content: center;
    align-items: center;
}

.content_column {
    flex-direction: column;
}
