.register-form {
    width: 340px;
    height: 640px;
}

.register-form__input:first-child {
    margin-top: 44px;
}

.register-form__input {
    margin-top: 24px;
}

.register-form__button {
    margin-top: 28px;
}

.register-form__link {
    margin-top: 16px;
}
