.login-form {
    width: 340px;
    height: 460px;
}

.login-form__input {
    margin-top: 40px;
}

.login-form__input:first-child {
    margin-top: 56px;
}

.login-form__button {
    margin-top: 132px;
}

.login-form__link {
    margin-top: 16px;
}