.navigation {
    width: 320px;
    color: white;
    overflow: auto;
    border-right: 1px solid #5E6AD2;
}

.navigation__profile {
    height: 64px;
    position: relative;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.navigation__profile:after {
    content: "";
    width: 300px;
    height: 1px;
    left: 10px;
    background: #5E6AD2;
    position: absolute;
    top: 64px;
}

.navigation__link {
    color: white;
}

.navigation__link:before {
    content: url("../icons/arrow.svg");
    padding-right: 8px;
    height: 8px;
    width: 4px;
}

.navigation__search-input {
    margin-left: 36px;
}

.chat-list {
    margin: 0;
    padding: 0;
}

.chat {
    position: relative;
    padding: 0 10px;
    height: 52px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chat:after {
    content: "";
    width: 300px;
    height: 1px;
    left: 10px;
    background: #5E6AD2;
    position: absolute;
    top: 52px;
}

.chat__description-container {
    margin-left: 14px;
}

.chat__author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.chat__avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #C4C4C4;
}

.chat__message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.selected-chat {
    width: calc(100vw - 320px);
    color: white;
}

.selected-chat__messages {
    width: 100%;
    height: calc(100% - 40px);
}

.selected-chat__new-message-form {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    display: flex;
}

.selected-chat__attach-button {
    background: url("../icons/attach.svg") no-repeat;
    background-size: 24px 24px;
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 8px;
}

.selected-chat__new-message-input-label {
    width: calc(100% - 100px);
}

.selected-chat__new-message-input {
    width: 100%;
    outline: none;
    border: 1px solid #5E6AD2;
    border-radius: 5px;
    background: #1F2023;
    height: 28px;
    box-sizing: border-box;
    padding: 0 10px;
    color: white;
    font-size: 16px;
}

.selected-chat__send-message {
    background: url("../icons/send.svg");
    background-size: 24px 24px;
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    cursor: pointer;
}